<div *ngIf="tweets" >
	<div *ngFor="let tweet of tweets"  (click)="showTwitters(gitElement.tweets)" class="list-group-item list-group-item-action flex-column align-items-start">
		<img src="{{tweet.user.profile_image_url}}" alt="{{tweet.name}}">
		<div class="d-flex w-100 justify-content-between">
      		<h5 class="mb-1">{{tweet.text}}</h5>
      		<small class="text-muted">retweet: {{tweet.retweet_count}}</small>
    	</div>
    	<p class="mb-1">{{tweet.name}}</p>
    	<small class="text-muted">Created at: {{tweet.created_at}}</small>

	</div>
</div>
