<div *ngIf="gitInformation" >
  <div class="col-lg-6 col-md-6 col-sm-6">
	<button *ngFor="let gitElement of gitInformation.items"  (click)="showTwitters(gitElement.tweets)" class="list-group-item list-group-item-action flex-column align-items-start">
		<div class="d-flex w-100 justify-content-between">
      		<h5 class="mb-1"><a href="{{gitElement.html_url}}" target="_blank">{{gitElement.name}}</a></h5>
      		<small class="text-muted">forks: {{gitElement.forks}}</small>
      		<div *ngIf="gitElement.tweets">
      			<small *ngIf="gitElement.tweets.length>0" class="text-muted">Tweets: {{gitElement.tweets.length}}</small>
      		</div>
    	</div>
    	<p class="mb-1">{{gitElement.description}}</p>
    	<small class="text-muted">{{gitElement.full_name}}</small>
	</button>
 </div>
 <div class="col-lg-6 col-md-6 col-sm-6">
	<app-list-twitters [tweets]="tweets"></app-list-twitters>
 </div>
</div>